.container {
  width: 100vw;
  height: 100vh;
  background: url("../image/flowerImage.jpg") no-repeat center;
  background-size: cover;
}

.boardContainer {
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.746);
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: 90%;
  aspect-ratio: 1/1;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 480px) {
  .board {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .board {
    width: 60%;
  }
}

@media (min-width: 1025px) {
  .board {
    width: 35%;
  }
}

.box {
  width: 12.5%;
  height: 12.5%;
}

.playerOneScore,
.playerTwoScore {
  display: none;
}

.board > .box:nth-child(n + 1):nth-child(-n + 8):nth-child(even),
.board > .box:nth-child(n + 9):nth-child(-n + 16):nth-child(odd),
.board > .box:nth-child(n + 17):nth-child(-n + 24):nth-child(even),
.board > .box:nth-child(n + 25):nth-child(-n + 32):nth-child(odd),
.board > .box:nth-child(n + 33):nth-child(-n + 40):nth-child(even),
.board > .box:nth-child(n + 41):nth-child(-n + 48):nth-child(odd),
.board > .box:nth-child(n + 49):nth-child(-n + 56):nth-child(even),
.board > .box:nth-child(n + 57):nth-child(-n + 64):nth-child(odd) {
  background: white;
}


.board > .box:nth-child(n + 1):nth-child(-n + 8):nth-child(odd),
.board > .box:nth-child(n + 9):nth-child(-n + 16):nth-child(even),
.board > .box:nth-child(n + 17):nth-child(-n + 24):nth-child(odd),
.board > .box:nth-child(n + 25):nth-child(-n + 32):nth-child(even),
.board > .box:nth-child(n + 33):nth-child(-n + 40):nth-child(odd),
.board > .box:nth-child(n + 41):nth-child(-n + 48):nth-child(even),
.board > .box:nth-child(n + 49):nth-child(-n + 56):nth-child(odd),
.board > .box:nth-child(n + 57):nth-child(-n + 64):nth-child(even) {
  background: black;
}
