.container {
  width: 100vw;
  height: 100vh;
  background: url("../image/flowerImage.jpg") no-repeat center;
  background-size: cover;
}

.boardContainer {
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.746);
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: 90%;
  aspect-ratio: 1/1;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 480px) {
  .board {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .board {
    width: 60%;
  }
}

@media (min-width: 1025px) {
  .board {
    width: 35%;
  }
}

.box {
  width: 12.5%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerOneScore,
.playerTwoScore {
  display: none;
}

.whiteBlock {
  background: #e6c9ab;
}

.blackBlock {
  background: #96642c;
}

.piece:hover {
  cursor: pointer;
}

.piece:active {
  box-shadow: 0px 0px 5px 1px black;
  transition: 0.05s;
}

.redPiece {
  display: block;
  width: 70%;
  height: 70%;
  background: rgb(152, 0, 0);
  border: 3px solid rgb(104, 0, 0);
  border-radius: 50px;
}

.blackPiece {
  display: block;
  width: 70%;
  height: 70%;
  background: rgb(57, 57, 57);
  border: 3px solid rgb(8, 8, 8);
  border-radius: 50px;
}
