.container {
  width: 100vw;
  height: 100vh;
  background: url("../public/background-picture.webp") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.container--setBlur {
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 90%;
  aspect-ratio: 1/1;
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 480px) {
  .board {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .board {
    width: 60%;
  }
}

@media (min-width: 1025px) {
  .board {
    width: 35%;
  }
}

.block {
  width: 12.5%;
  height: 12.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.block--white {
  background: #e6c9ab;
}

.block--black {
  background: #96642c;
}

.pieces {
  display: block;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  transition: 0.3s;
}

.piece--black {
  background: rgb(57, 57, 57);
  border: 3px solid rgb(8, 8, 8);
}

.piece--red {
  background: rgb(152, 0, 0);
  border: 3px solid rgb(104, 0, 0);
}

.piece--active {
  border: 4px solid rgb(228, 228, 228);
}

.legal--move {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background: rgb(227, 227, 227);
  box-shadow: 0 0 20px rgb(238, 238, 238);
  position: absolute;
}

.kick--enemy {
  background: rgb(11, 65, 245);
  box-shadow: 0 0 20px rgb(46, 74, 168);
}
